# Build artifacts
build/*
/build/
compile/
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake
compile_commands.json
/cache/
# FlatBuffers
*_generated.h
.cache/
# tmpfs artifacts (if copied)
layout.buf
layout.ram

# Binaries
main
*.so
*.o
*.out

# Editor files
.vscode/
.idea/
*.swp
*~
